# Environnement virtuel
venv/

# Fichiers Python compilés
__pycache__/
*.pyc
*.pyo
*.pyd

# Checkpoints Jupyter
.ipynb_checkpoints/

# Fichiers système
.DS_Store
Thumbs.db

# Environnements
.env

ouverture_flask.html
